/* Override some defaults */

        body {

        }
        .container > footer p {
        text-align: center; /* center align it with the container */
        }

        #outer-container{
            padding-top: 110px; /* 110px to make the container go all the way to the bottom of the navbar */
        }

        /* The white background content wrapper */
        .container > .content {
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
        box-shadow: 0 1px 2px rgba(0,0,0,.15);
        }

        /* Page header tweaks */
        .page-header {
        /*background-color: #f5f5f5;*/
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
        }

        .navbar .btn {
        border: 0;
        }

/*Fixing anchor link position in comofunciona and forms*/
#paso1:before, #paso2:before, #paso3:before, #instr:before {
  display: block;
  content: " ";
  margin-top: -110px;
  height: 110px;
  visibility: hidden;
}



#header-img img{
    display: block;
    margin: 0px auto;
}

.hero-unit{
    padding: 15px;
    font-size: 80%;
}

.hero-unit p{
    line-height: 20px;
}

.hero-unit ul li{
    line-height: 20px;
}

.hero-unit h4{
    margin: 0px;
    padding-bottom: 15px;
    color: #006600;
}

.highlight{
    font-weight: bold;
    color: #990000;
}

.centered{
    text-align: center;
}

.centered img{
    display: block;
    margin: 0px auto;
}

th {
    text-align: left;
}

#footer{
    color: white;
    font-size: 80%;
    background-color: #005400;
    text-align: left;
    padding: 10px;
}

#footer p{
    text-align: left;
}