/*STYLING FOR WIDGETS*/

.highlight{
    font-weight: bold;
    color: #990000;
}

.centered{
    text-align: center;
}

.centered img{
    display: block;
    margin: 0px auto;
}

.widget200x550{
    width: 175px;
    height: 500px;
    padding: 10px;
    line-height: 20px;
    font-size: 80%;
}

h5 {
    line-height: 20px;
}